.VideoList {
  /* margin: 16px 0; */
  /* display: grid; */
  grid-template-columns: repeat(auto-fill, 200px);
  /* grid-gap: 16px; */
  /* justify-content: center; */
  display: flex;
  flex-wrap: wrap;
}
.VideoList__link {
  text-decoration: none;
}
.VideoList__title {
  color: white;
  text-decoration-color: white;
}
.media-cell-img {
  height: 250px;
}