.VideoList {
  margin: 16px 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, 200px);
  grid-gap: 16px;
  justify-content: center;
}
.VideoList__link {
  text-decoration: none;
}
.VideoList__title {
  color: white;
  text-decoration-color: white;
}