alembic==1.3.2
aniso8601==6.0.0
Click==7.0
Flask==1.0.3
Flask-Cors==3.0.8
Flask-RESTful==0.3.7
flup==1.0.3
itsdangerous==1.1.0
Jinja2==2.10.1
Mako==1.1.0
MarkupSafe==1.1.1
python-dateutil==2.8.1
python-editor==1.0.4
pytz==2019.1
six==1.12.0
SQLAlchemy==1.3.3
Werkzeug==0.15.4
